/* Pastel status colors */
/* online */
[aria-label*=", Online"] svg [fill="#45a366"], .vc-platform-indicator [fill="#45a366"] {
  fill: #b1e09a;
}

/* idle */
[aria-label*=", Idle"] svg [fill="#ffc04e"], .vc-platform-indicator [fill="#ffc04e"] {
  fill: #fcdb7d;
}

/* dnd */
[aria-label*=", Do Not Disturb"] svg [fill="#da3e44"], .vc-platform-indicator [fill="#da3e44"] {
  fill: #e97183;
}

/* offline */
[aria-label*=", Offline"] svg [fill="#84858d"], [aria-label*=", Invisible"] svg [fill="#84858d"] {
  fill: lightgrey;
}

/* streaming, too lazy to find the right selector */
[aria-label*=", Streaming"] svg [fill="#9147ff"] {
  fill: #c0ade1;
}
